---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
import Faq from "@components/faq.astro";
import Cta from "@components/cta.astro";

import { sanityClient } from "sanity:client";

const contact = await sanityClient.fetch(`*[_type == "settings"] {
    email,
    phone,
    address,
    w3ckey,
  }[0]`);
---

<Layout title="Contact" footerMargin={false}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact our support team</Fragment>
      <Fragment slot="desc">
        We are here to help you! Tell us how we can help & we’ll be in touch
        with an expert within the next 24 hours. We are proud to work with these
        incredible companies.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-6xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact Info</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Have something to say? We are here to help. Fill up the form or send
          email or call phone.
        </p>
        <div class="mt-5">
          {
            contact?.address && (
              <div class="flex items-center mt-2 space-x-2 text-gray-600">
                <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
                <span>{contact?.address}</span>
              </div>
            )
          }
          {
            contact?.email && (
              <div class="flex items-center mt-2 space-x-2 text-blue-700">
                <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
                <a class="hover:underline" href={`mailto:${contact?.email}`}>
                  {contact?.email}
                </a>
              </div>
            )
          }
          {
            contact?.phone && (
              <div class="flex items-center mt-2 space-x-2 text-blue-700">
                <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
                <a class="hover:underline" href={`tel:${contact?.phone}`}>
                  {contact?.phone}
                </a>
              </div>
            )
          }
        </div>
      </div>
      <div class="bg-slate-100 p-5 md:p-8 rounded-xl mb-5">
        <Contactform w3ckey={contact?.w3ckey} />
      </div>
    </div>
    <!-- <Faq /> -->
  </Container>
  <Cta />
</Layout>
