---
// @ts-ignore
import Badge from "@components/ui/badge.astro";
import { Icon } from "astro-icon/components";

const { features } = Astro.props;
// console.log(features);

// const features = [
//   {
//     title: "Expert SEO packages",
//     description:
//       "Most search engine optimization services aim to fill your sales channel with relevant.",
//     icon: "fluent:document-javascript-24-regular",
//   },
//   {
//     title: "Web analytics & consulting",
//     description:
//       "Any business that has a website or online presence must needs good web analytics.",
//     icon: "fluent:trophy-24-regular",
//   },
//   {
//     title: "SEO website audit services",
//     description:
//       "Today, no business can survive without a proper SEO strategy, having website audit.",
//     icon: "fluent:box-24-regular",
//   },
//   {
//     title: "SEO services for startups",
//     description:
//       "We have years of experience pushing new businesses through SEO channels easily.",
//     icon: "fluent:box-multiple-24-regular",
//   },
//   {
//     title: "PPC marketing services",
//     description:
//       "PPC is a method of online advertising. It's done through multiple platforms including.",
//     icon: "fluent:book-search-24-regular",
//   },
//   {
//     title: "Digital marketing plan",
//     description:
//       "Improve your presence, and create trust in the eyes of your customers with digitally.",
//     icon: "fluent:people-community-24-regular",
//   },
// ];
---

<div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
  <!-- <Badge color="purple">MORE FEATURES</Badge> -->
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
    {features?.heading}
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
    {features?.subHeading}
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-20">
  {
    features?.features?.map((item) => (
      <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border rounded-[3rem] transition-all md:-m-5 px-8 py-10">
        <div class="flex w-full items-center justify-between space-x-8">
          <h3 class="font-semibold text-2xl">{item.title}</h3>
          <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-full grid place-items-center  p-2 w-14 h-14 shrink-0">
            <Icon class="text-indigo-500" name={item.icon} size={32} />
          </div>
        </div>
        <div>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
