---
import speaker from "@assets/hero/speaker.png";
import decor3 from "@assets/hero/decor3.webp";
import trophie from "@assets/hero/trophie.webp";
import expert1 from "@assets/hero/expert1.webp";
import expert2 from "@assets/hero/expert2.webp";
import expert3 from "@assets/hero/expert3.webp";
import Link from "./ui/link.astro";
---

<div class="max-w-sm md:max-w-max mx-auto overflow-hidden px-[20px]">
  <!-- header -->
  <div class="mx-auto md:mt-12 flex flex-col justify-center items-center">
    <h1
      class="mt-4 text-3xl lg:text-4xl xl:text-6xl font-bold [text-wrap:balance] text-center lg:text-start">
      Marketing without borders
    </h1>
    <p class="text-lg mt-4 text-slate-600 [text-wrap:balance] text-center">
      Amplify your business with our data-centric, performance-driven digital
      marketing solutions.
    </p>
  </div>

  <!-- decorative CTA - desktop -->
  <div class="hidden md:flex items-center justify-center space-x-12">
    <div class="relative mt-24">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="519px"
        height="476px"
        viewBox="0 0 519 476"
        ><title>gettyimages-1387685447-2048x2048</title><defs
          ><path
            d="M50,43.5 L469,43.5 C496.614237,43.5 519,65.8857625 519,93.5 L519,254.121951 C519,281.736189 496.614237,304.121951 469,304.121951 L406,304.121951 C367.340068,304.121951 336,335.462019 336,374.121951 L336,469.5 C336,497.114237 313.614237,519.5 286,519.5 L50,519.5 C22.3857625,519.5 1.75926235e-14,497.114237 0,469.5 L0,93.5 C-3.38176876e-15,65.8857625 22.3857625,43.5 50,43.5 Z"
            id="path-1"></path></defs
        ><g
          id="Pages"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
          ><g id="Home-1-2" transform="translate(-80.000000, -468.000000)"
            ><g
              id="GettyImages-1387685447"
              transform="translate(80.000000, 424.500000)"
              ><mask id="mask-2" fill="white"
                ><use xlink:href="#path-1"></use></mask
              ><use
                id="gettyimages-1387685447-2048x2048"
                fill="#B0B1FF"
                xlink:href="#path-1"></use></g
            ></g
          ></g
        ></svg
      >
      <img src={speaker.src} alt="" class="absolute -top-12" />
    </div>
    <div class="mt-24 relative">
      <!-- arrow svg -->
      <svg
        class="absolute -top-20 right-28 h-[55px] w-[236px]"
        xmlns="http://www.w3.org/2000/svg"
        height="55"
        viewBox="0 0 236 55"
        width="236"
        ><path
          d="m223.44 37.97.33.38c2.47 2.8 4.88 5.77 7.23 8.92l3.29-2.31 1.5 9.95-8.86-4.77 3.25-2.3-.47-.62a140.6 140.6 0 0 0-6.7-8.21l-.32-.38zm-220 7.64.34.37c2.2 2.48 5.76 3.7 10.7 3.65h.5l.01 1h-.5c-5.2.06-9.03-1.26-11.46-3.98l-.33-.38zm34.6-1.71.35.93-.46.18a114.57 114.57 0 0 1-11.46 3.75l-.48.12-.26-.96.48-.13c3.44-.9 7.23-2.14 11.36-3.72zm21.83-9.83.44.89-.44.22c-3.8 1.9-7.41 3.63-10.85 5.18l-.45.21-.41-.91.45-.2c3.42-1.55 7.02-3.27 10.81-5.17zM2.69 22.52l.95.3-.15.48A52.71 52.71 0 0 0 1.06 34.9l-.03.5-1-.07.03-.5C.31 31.44 1.14 27.5 2.54 23zm203.02-.84.4.3c3.17 2.35 6.26 4.92 9.27 7.72l.36.34-.68.73-.37-.34a106.02 106.02 0 0 0-9.17-7.65l-.4-.3zM81.08 22.96l.45.9-.45.22a274.5 274.5 0 0 0-10.56 5.56l-.44.23-.47-.88.44-.23 2.21-1.2c2.82-1.53 5.6-3 8.37-4.38zm22-9.6.36.94-.47.17A207.81 207.81 0 0 0 91.88 19l-.46.2-.4-.91.46-.2c3.76-1.66 7.48-3.18 11.14-4.54zm81.55-3.32.47.18a89.64 89.64 0 0 1 10.9 5.2l.43.24-.5.87-.43-.24a88.64 88.64 0 0 0-10.77-5.14l-.47-.18zM12 .49l.9.44-.23.45c-1.92 3.85-3.6 7.47-5.04 10.86l-.2.46-.92-.4.2-.45C8.16 8.44 9.85 4.8 11.78.94zm114.21 6.1.21.98-.49.1c-3.8.81-7.66 1.8-11.58 2.98l-.48.14-.29-.96.48-.14a152.7 152.7 0 0 1 11.66-3zm34.96-2.18.5.06c4.05.44 8 1.13 11.88 2.08l.49.12-.24.97-.49-.12a90.74 90.74 0 0 0-11.75-2.06l-.5-.05zm-11-.52.01 1-.5.01c-3.9.05-7.87.31-11.92.8l-.5.05-.11-1 .5-.05c4.08-.49 8.09-.75 12.02-.8z"
        ></path></svg
      >
      <img
        src={decor3.src}
        class="h-[476px]"
        alt="decorative element"
        style={{
          maskImage: `url(mask.svg)`,
          maskRepeat: "no-repeat",
        }}
      />
      <div
        class="absolute top-0 right-0 h-[245px] w-[180px] bg-[#e9e5ff] rounded-[3rem] overflow-hidden">
        <p class="absolute text-lg max-w-[2rem] left-8 bottom-8">
          Award Winning Agency
        </p>
      </div>

      <!-- Yellow CTA -->
      <div
        class="absolute bottom-0 right-[550px] h-[180px] w-[380px] bg-[#ffbe11] rounded-[3rem] overflow-hidden flex items-center justify-center space-x-4 px-8">
        <p class="text-lg">Get Your Free Audit Today</p>
        <Link
          href="/signup"
          size="lg"
          class="inline-flex items-center group gap-px bg-black hover:bg-black/80 flex-shrink-0">
          <span>Get Started</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path>
          </svg>
        </Link>
      </div>
      <img
        src={trophie.src}
        class="absolute -top-6 right-0 w-32"
        alt="trophie"
      />
    </div>
  </div>

  <!-- decorative CTA - mobile -->
  <div class="relative md:hidden">
    <!-- arrow svg -->
    <svg
      class="absolute -top-20 right-12"
      xmlns="http://www.w3.org/2000/svg"
      height="55"
      viewBox="0 0 236 55"
      width="236"
      ><path
        d="m223.44 37.97.33.38c2.47 2.8 4.88 5.77 7.23 8.92l3.29-2.31 1.5 9.95-8.86-4.77 3.25-2.3-.47-.62a140.6 140.6 0 0 0-6.7-8.21l-.32-.38zm-220 7.64.34.37c2.2 2.48 5.76 3.7 10.7 3.65h.5l.01 1h-.5c-5.2.06-9.03-1.26-11.46-3.98l-.33-.38zm34.6-1.71.35.93-.46.18a114.57 114.57 0 0 1-11.46 3.75l-.48.12-.26-.96.48-.13c3.44-.9 7.23-2.14 11.36-3.72zm21.83-9.83.44.89-.44.22c-3.8 1.9-7.41 3.63-10.85 5.18l-.45.21-.41-.91.45-.2c3.42-1.55 7.02-3.27 10.81-5.17zM2.69 22.52l.95.3-.15.48A52.71 52.71 0 0 0 1.06 34.9l-.03.5-1-.07.03-.5C.31 31.44 1.14 27.5 2.54 23zm203.02-.84.4.3c3.17 2.35 6.26 4.92 9.27 7.72l.36.34-.68.73-.37-.34a106.02 106.02 0 0 0-9.17-7.65l-.4-.3zM81.08 22.96l.45.9-.45.22a274.5 274.5 0 0 0-10.56 5.56l-.44.23-.47-.88.44-.23 2.21-1.2c2.82-1.53 5.6-3 8.37-4.38zm22-9.6.36.94-.47.17A207.81 207.81 0 0 0 91.88 19l-.46.2-.4-.91.46-.2c3.76-1.66 7.48-3.18 11.14-4.54zm81.55-3.32.47.18a89.64 89.64 0 0 1 10.9 5.2l.43.24-.5.87-.43-.24a88.64 88.64 0 0 0-10.77-5.14l-.47-.18zM12 .49l.9.44-.23.45c-1.92 3.85-3.6 7.47-5.04 10.86l-.2.46-.92-.4.2-.45C8.16 8.44 9.85 4.8 11.78.94zm114.21 6.1.21.98-.49.1c-3.8.81-7.66 1.8-11.58 2.98l-.48.14-.29-.96.48-.14a152.7 152.7 0 0 1 11.66-3zm34.96-2.18.5.06c4.05.44 8 1.13 11.88 2.08l.49.12-.24.97-.49-.12a90.74 90.74 0 0 0-11.75-2.06l-.5-.05zm-11-.52.01 1-.5.01c-3.9.05-7.87.31-11.92.8l-.5.05-.11-1 .5-.05c4.08-.49 8.09-.75 12.02-.8z"
      ></path></svg
    >
    <div class="mt-24 relative bg-[#e9e5ff] rounded-[3rem] px-6 py-6">
      <p class="text-lg">Award Winning Agency</p>
      <img
        src={trophie.src}
        class="absolute bottom-4 right-4 w-16"
        alt="trophie"
      />
    </div>

    <div class="relative mt-8">
      <!-- speaker -->
      <svg
        class="w-full"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="519px"
        height="476px"
        viewBox="0 0 519 476"
        ><title>gettyimages-1387685447-2048x2048</title><defs
          ><path
            d="M50,43.5 L469,43.5 C496.614237,43.5 519,65.8857625 519,93.5 L519,254.121951 C519,281.736189 496.614237,304.121951 469,304.121951 L406,304.121951 C367.340068,304.121951 336,335.462019 336,374.121951 L336,469.5 C336,497.114237 313.614237,519.5 286,519.5 L50,519.5 C22.3857625,519.5 1.75926235e-14,497.114237 0,469.5 L0,93.5 C-3.38176876e-15,65.8857625 22.3857625,43.5 50,43.5 Z"
            id="path-1"></path></defs
        ><g
          id="Pages"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
          ><g id="Home-1-2" transform="translate(-80.000000, -468.000000)"
            ><g
              id="GettyImages-1387685447"
              transform="translate(80.000000, 424.500000)"
              ><mask id="mask-2" fill="white"
                ><use xlink:href="#path-1"></use></mask
              ><use
                id="gettyimages-1387685447-2048x2048"
                fill="#B0B1FF"
                xlink:href="#path-1"></use></g
            ></g
          ></g
        ></svg
      >
      <img src={speaker.src} alt="" class="absolute -top-0 w-64" />
    </div>
    <!-- Yellow CTA -->
    <div
      class="-mt-14 py-8 px-4 bg-[#ffbe11] rounded-3xl overflow-hidden flex flex-col items-center justify-center space-y-4">
      <p class="text-lg max-w-[8rem] text-center">Get Your Free Audit Today</p>
      <Link
        href="/signup"
        size="lg"
        class="inline-flex items-center group gap-px bg-black hover:bg-black/80 flex-shrink-0">
        <span>Get Started</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"></path>
        </svg>
      </Link>
    </div>
  </div>

  <!-- stats -->
  <div class="mt-8 md:my-12">
    <div
      class="flex flex-col space-y-12 md:space-y-0 md:flex-row items-center justify-between">
      <div class="flex flex-col md:flex-row items-center">
        <div class="flex ml-4">
          {
            [expert1, expert2, expert3].map((expert) => (
              <img
                src={expert.src}
                alt="expert dummy image"
                class="rounded-full border-2 w-10 h-10 -ml-4 object-cover flex-shrink-0"
              />
            ))
          }
        </div>

        <a href="/contact" class="text-lg ml-4">Connect our experts &rarr;</a>
      </div>
      <div class="flex flex-col md:flex-row items-center space-x-4">
        <h2 class="text-3xl font-semibold">2,120,240,368</h2>
        <p class="text-md max-w-[8rem]">Revenue driven for our clients</p>
      </div>
      <div class="text-center">
        <p class="md:text-right">⭐⭐⭐⭐⭐</p>
        <p class="text-md">500+ Client reviews</p>
      </div>
    </div>
  </div>

  <!-- divider -->
  <svg
    height="41"
    viewBox="0 0 1281 41"
    width="1281"
    xmlns="http://www.w3.org/2000/svg"
    ><path
      d="m918.26 0c16.95 0 33.1 7.17 44.46 19.71l.4.46c11.1958 12.6130166 27.254825 19.8308421 44.12 19.83h273.76v1h-273.76c-16.937962.0011746-33.087086-7.1580522-44.46-19.71l-.4-.46c-11.1958-12.61301661-27.254825-19.83084209-44.12-19.83h-88.86c-16.41473-.0012407-32.037784 7.05444958-42.89 19.37l-.4.46c-11.041724 12.7995683-27.105901 20.16186-44.01 20.17h-742.1v-1h742.09c16.41473.0012407 32.037784-7.0544496 42.89-19.37l.4-.46c11.044006-12.80221079 27.112409-20.16476637 44.02-20.17z"
      opacity=".1"></path></svg
  >
</div>
