---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Logos from "@components/logos.astro";
import Testimonials from "@components/testimonials.astro";
import Layout from "@layouts/Layout.astro";
import Hero from "@components/successStories/hero.astro";
import PortableText from "@components/portableText/index.astro";
import urlFor from "@utils/urlFor";
import { sanityClient } from "sanity:client";

const { id } = Astro.params;
const stories = await sanityClient.fetch(
  `*[_type == "successStories" && slug.current == "${id}"] {
    slug,
    title,
    heading,
    description,
    body,
    mainImage,
    publishedAt,
    services[]->{
      title
    }
  }`,
);
const story = stories[0];
// console.log(story)

export const prerender = false;
---

<Layout footerMargin={false}>
  <Hero
    title={story.heading}
    subTitle={story.title}
    description={story.description}
    headerImg={{
      src: urlFor(story.mainImage).url(),
      alt: story.mainImage.alt,
    }}
  />
  <Container>
    <Logos />
    <main class="border-y py-16 mt-16">
      <!-- <PortableText value={story.body} /> -->
    </main>
  </Container>
  <Testimonials />
  <Cta />
</Layout>
